@model IEnumerable<GameRecruitment.Models.TesterInfoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Find Testers to Hire</h1>

<p>
    <a asp-action="Create">Tester looking for a job? You can apply here.</a>
</p>
<p> Apply for games published in our platform. If you apply for a non-existent game your appliance will get <b> deleted!</b></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestedBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameChoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestedBefore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameChoice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TesterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TesterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TesterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
