@model GameRecruitment.Models.DevInfoModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:lime">Details</h1>

<div>

    <hr />
    <dl class="row" style="color:#66F900; border:2px solid red; font-size:x-large">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevExperienceInYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevExperienceInYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameChoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameChoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a style="text-decoration:none; color:orangered" asp-action="Edit" asp-route-id="@Model?.DevID">Edit</a> |
    <a style="text-decoration:none; color:orangered" asp-action="Index">Back to List</a>
</div>
